.buttons-container {
  grid-area: buttons-section;
  background-color: var(--darker-white);
  display: flex;
  align-items: center;
  padding: 20px 0 10px 10px;

  @media screen and (max-width: 800px) {
    padding: 10px;
  }
}

.menu-btn {
  cursor: pointer;
  width: 140px;
  height: 40px;
  border-radius: var(--border-radius-btn);
  font-family: var(--text-font-family);
  border: none;
  font-size: var(--font-size);

  @media screen and (max-width: 800px) {
    width: 100%;
    // font-size: var(--font-size-sm);
    // line-height: var(--line-height-sm);
  }
}

.add-location-btn {
  background-color: var(--link-blue);
  color: var(--regular-white);
}

.close-btn {
  background-color: var(--danger-red);
  color: var(--regular-white);
}