.app-header {
  grid-area: header;
  display: flex;
  background-color: var(--background-color-main);
  color: var(--darker-white);
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

  a {
    text-decoration: none;
    &:link, &:visited, &:hover, &:active,{
      color: var(--darker-white);
    }
  }
}