.location-search-container {
  grid-area: locations-list-section;
  background-color: var(--darker-white);
  padding: 10px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 800px) {
  }
}

.location-search-title {
  margin-bottom: 15px;
  padding-left: 10px;

  @media screen and (max-width: 800px) {
    margin-bottom: 5px;
    padding: 0 5px;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }
}

.location-search-input {
  width: 100%;
  border: none;
  box-shadow: var(--box-shadow);
  padding: 10px;
  font-size: var(--font-size);
  font-family: inherit;
  outline-color: var(--mint-green);
  margin-bottom: 10px;

  &:focus {
    outline-style: solid;
  }
}

.location-search-information {
  padding: 10px;
  outline-color: var(--mint-green);
  box-shadow: var(--box-shadow);
  border: none;

  &:focus {
    outline-style: solid;
  }
}

.location-search-results {
  width: 100%;
  // border: 1px solid var(--text-grey);
  // border-top: none;
  box-shadow: var(--box-shadow);
}
.location-search-results-list {
  list-style-type: none;
  background-color: var(--regular-white);
  padding: 0;
  margin: 0;
}
.location-search-results-item {
  cursor: pointer;
  background-color: var(--regular-white);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  &:first-child {
    margin-top: 5px;
  }
  &:not(:last-child) {
    border-bottom: 1px solid var(--search-results-border);
  }
  &:hover {
    background-color: var(--darker-white);
  }
  @media screen and (max-width: 800px) {
    padding: 7px 5px;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }
}
