:root {
  --border-radius: 10px;
  --border-radius-btn: 5px;
  --box-shadow-color: 0, 0, 0;
  --box-shadow: 0px 5px 12px 0px rgba(var(--box-shadow-color), 0.2);
  --background-color-main: #282c34;
  --darker-white: #f6f9fc;
  --text-grey: #20303c;
  --regular-white: #ffffff;
  --mint-green: #42b883;
  --link-blue: #1e90ff;
  --danger-red: #dc3545;
  --search-results-border: #ced4da;
  --font-size: 16px;
  --line-height: 20px;
  --font-size-sm: 12px;
  --line-height-sm: 14px;
  --font-size-xs: 10px;
  --line-height-xs: 12px;
  --text-font-family: 'Quicksand';
}

.app {
  display: grid;
  background-color: var(--background-color-main);
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 50px 60px 1fr;
  grid-template-columns: minmax(400px, 30%) auto;
  grid-template-areas:
    'header header'
    'buttons-section location-details-section'
    'locations-list-section location-details-section'
    'locations-list-section location-details-section';

  @media screen and (max-width: 800px) {
    height: 100%;
    grid-template-rows: 50px 60px 300px auto;
    grid-template-columns: auto;
    grid-template-areas:
      'header '
      'buttons-section'
      'locations-list-section'
      'location-details-section';
  }
}
